<%= simple_form_for(@user) do |form| %>
  <%= form.input :nickname %>
  <%= form.input :email %>
  <%= form.input :password %>
  <%= form.input :password_confirmation %>
  <%= form.input :admin, label: t('users.admin'), as: :boolean %>
  <div class="actions">
    <%= form.submit t('send'), class: :button %>
  </div>
<% end %>
