<%= simple_form_for(@testimony) do |f| %>
  <div class="field">
    <%= f.input :person %><br>
  </div>
  <div class="field">
    <%= f.input :occupation %><br>
  </div>
  <div class="field">
    <%= f.input :content %><br>
  </div>
  <div class="actions">
    <%= f.submit t('save'), class: :button %>
  </div>
<% end %>
