<div class=" col-1-2">
  <div class="testimony admin-editable">
    <section class="media attribution">
    <div class="bd">
      <%= iconize :testimony %>
      <a href="#" class="t-name"><%= testimony.person %></a>
      <span class="tw-occu"><%= testimony.occupation %></span>
    </div>
    <div class="info">
      <blockquote>
        <%= testimony.content %>
      </blockquote>
    </div>

    <% if current_user %>
      <div class="actions tw-actions">
        <%= edit_link testimony %>
        <%= destroy_link testimony %>
      </div>
    <% end %>
    </section>
  </div>
</div>
