
<div class="testimony col-1-3">
  <section class="media attribution">
  <div class="bd">
    <p>
    <%= iconize :twitter %>
    <a href="#" class="t-name"><%= testimony.person %></a>
    <span class="tw-occu"><%= testimony.occupation %></span>
    </p>
    <!-- <p class="t&#45;occu"><%# testimony.occupation %></p> -->
  </div>
  <div class="info">
    <blockquote>
      <%= testimony.content %>
    </blockquote>
  </div>
  <div class="actions tw-actions">
    <%= edit_link testimony %>
  </div>
  </section>
</div>
