<h1><%= t ".title" %> </h1>
<div class="testimonies-wrapper">

  <% @testimonies.each do |testimony| %>
  <div class="testimony">
    <section class="media attribution">
      <%= image_tag('twitter-light.png', class: "img") %>
      <!-- <img src="img/twitter-light.png" alt="mandame info" class="img" /> -->
      <div class="bd">
        <p><a href="#" class="t-name"><%= testimony.person %></a></p>
        <p class="t-occu"><%= testimony.occupation %></p>
      </div>
      <div class="info">
        <blockquote>
          <%= testimony.content %>
        </blockquote>
      </div>
      <div class="actions">
        <%= link_to 'Show', testimony %>
        <%= link_to 'Edit', edit_testimony_path(testimony) %>
        <%= link_to 'Destroy', testimony, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </section>
  </div>
  <% end %>
</div>

<br>
<br>

<%= link_to 'New Testimony', new_testimony_path, style: "clear=both" %>
