<p id="notice"><%= notice %></p>

<p>
  <strong><%= Testimony.human_attribute_name(:person) %></strong>
  <%= @testimony.person %>
</p>

<p>
  <strong><%= Testimony.human_attribute_name(:occupation) %></strong>
  <%= @testimony.occupation %>
</p>

<p>
  <strong><%= Testimony.human_attribute_name(:content) %></strong>
  <%= @testimony.content %>
</p>

<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %> |
<%= link_to 'Destroy', @testimony, method: :delete, data: { confirm: 'Are you sure?' } %>