<p id="notice"><%= notice %></p>

<p>
  <strong><%= Testimony.human_attribute_name(:person) %></strong>
  <%= @testimony.person %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @testimony.occupation %>
</p>

<p>
  <strong>Content:</strong>
  <%= @testimony.content %>
</p>

<%= link_to 'Edit', edit_testimony_path(@testimony) %> |
<%= link_to 'Back', testimonies_path %>
