<nav class="footer-nav">
<ul class="main-nav">
  <% I18n.available_locales.each do |locale| %>
    <li><%= nav_link_to image_tag("#{locale}.png", class: :flag) + locale.to_s, locale: locale %></li>
  <% end %>
  <li class="drop up">
  <%= iconize :users %>
  <ul class="drop-container">
    <% if current_user %>
      <%= render 'admin_menu' %>
      <li> <%= link_to t('sessions.close'), session_path('current'), method: 'delete', class: :button  %> </li>
    <% else %>
      <%= simple_form_for :sessions, { url: sessions_path} do |f| %>
        <%= f.input :login, placeholder: t('login.name_or_email') %>
        <%= f.input :password, placeholder: t('login.password') %>
        <br />
        <%= f.button :submit, t('send') %>
      <% end %>
    <% end %>
  </ul>
  </li>
</ul>
</nav>
