<!DOCTYPE html>
<html>
<head>
  <title>Creation Template</title>

    <!-- <title><%# if content_for(:title) ? yield content_for(:title) : "Creation Template" %></title> -->

  <?php endif ?>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'pages_nav' %>
<%= yield %>

</body>
</html>
