<!DOCTYPE html>
<html>
<head>

  <title><%= content_for?(:title) ? yield(:title) : "Creation Template" %></title>

  <!-- external stylesheets and fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <!-- end external -->

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body <%= 'class="admin"'.html_safe if current_user %>>

<%= render 'pages_nav' %>

<div class="wrapper">
  <div class="container">
    <%= link_to image_tag(:'logo.png'), :root, class: :logo %>
    <%= render 'flashes' %>
    <%= yield %>
  </div>
</div>

<br />
<%= render 'footer' %>

</body>
</html>
