<!DOCTYPE html>
<html>
<head>

  <title><%= content_for?(:title) ? yield(:title) : "Creation Template" %></title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'pages_nav' %>
<div class="wrapper">
  <%= link_to image_tag(:'logo.png'), :root, class: :logo %>
    <div class="content">
        <%= render 'flashes' %>
        <%= yield %>
    </div>
</div>
<br />
<%= render 'footer' %>

</body>
</html>
